
  @charset "utf-8";

  @import url(color.css);
  @import url(type.css);
  @import url(elements.css);
  @import url(calendar.css);
  @import url(list.css);
  @import url(nav.css);
  @import url(avatars.css);
  @import url(photos.css);
  @import url(announcements.css);
  @import url(layout.css);
  @import url(staff.css);
  @import url(home.css);



  body > header {
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
  }
  body > header .nav-link {
    font-weight: bold;
    z-index: 9999;
    top: 0;
    right: 0;
  }
  body > header .nav-link a {
    padding: 0.75em 1.5em;
    border-radius: 0;
    /*
    background-image: url(/images/texture-parallel.png);
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center;
    */
  }
  body > header .nav-link a:hover,
  body > header .nav-link a:active,
  body > header .nav-link a:focus {
    /*
    background-image: url(/images/texture-parallel-black.png);
    */
  }
  /*
  body > header .nav-link a {
    transform: skew(-25deg, 25deg) scale(0.75);
  }
  */
  body > header .nav-link a {
  }
  body > header .nav-link a span {
    display: block;
    background-image: url(/images/icons/menu.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 0.75em;
    padding-left: 1.5em;
    /*
    <img src="/images/icons/menu.svg" width="20" alt="">
    transform: skew(25deg, -25deg) translate(-0.75em, 0.125em);
    */
  }


  /* SHIM: Prevent horizontal scrollbars */
  /*
  html, body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
  }
  */

  /*
  @supports(transform: rotate(25deg)) {
    body > header .nav-link {
      top: -10em;
      right: -3.5em;
    }
    body > header .nav-link a {
      padding: 0.75em 1.5em;
      transform: rotate(25deg);
    }
    body > header .nav-link a span {
      display: block;
      transform: rotate(-25deg) translate(0em, 4.75em);
    }
    body > header .nav-link a {
      padding: 6em;
    }
  }
  */

  /*
  body > main {
    padding-top: 2.25em;
  }
  body > main::before {
    content: "";
    border-top: 0.25em solid var(--light-blue);
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: -2.25em;
  }
  @media (min-width: 60em) {
    body > main {
      padding-top: 3em;
    }
    body > main::before {
      margin-top: -3em;
    }
  }
  */

  .disabled body > main::before {
    content: "";
    display: block;
    background-color: rgb(255, 251, 254); /* --strawberry */
    -webkit-clip-path: polygon(0 0,6.25% 50%,25% 0,62.5% 50%,75% 0,87.5% 50%,100% 0,100% 100%,0 100%);
    height: 0.75em;
    margin-top: -1.5em;
    transform: translate(0, -50%);
    position: absolute;
    width: 100%;
    left: 0;
  }
  @media (min-width: 60em) {
    .disabled body > main::before {
      height: 1.5em;
      margin-top: -3em;
    }
  }


  body > nav h1 img {
    width: 6em;
  }

  .mission,
  main .notice,
  .instagram,
  .staff-list {
    margin-left: calc(var(--line-height) * -1);
    margin-right: calc(var(--line-height) * -1);
    padding: 1px calc(var(--line-height) * 1) calc(var(--line-height) * 1);
  }
  @media (min-width: 60em) { /* --big-screen-width */
    .mission,
    main .notice,
    .instagram,
    .staff-list {
      margin-left: calc(var(--line-height) * -2);
      margin-right: calc(var(--line-height) * -2);
      padding: 1px calc(var(--line-height) * 2) calc(var(--line-height) * 1);
    }
  }
  main .notice {
    margin-top: -1.5em;
    padding-top: 2.25em;
  }
  .mission {
    margin-top: calc(var(--line-height) * -1);
    margin-bottom: calc(var(--line-height) * -1);
    background-color: var(--light-blue);
    color: white;
    padding: calc(var(--line-height) * 1) calc(var(--line-height) * 1);
  }
  @media (min-width: 60em) { /* --big-screen-width */
    .mission {
      margin-top: calc(var(--line-height) * -2);
      margin-bottom: calc(var(--line-height) * -2);
      padding: calc(var(--line-height) * 2) calc(var(--line-height) * 2);
    }
  }
  .mission h1 {
    color: inherit;
    margin-top: 0;
  }

  .staff-list {
    text-align: center;
  }
  .staff-list + .staff-list {
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: calc(var(--line-height) * -2);
  }
  .staff-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (min-width: 80em) {
    .staff-list li {
      width: 20%;
    }
  }

  .staff-list li a {
    display: block;
    max-width: 20em;
  }

  /*
  .introduction h2 {
    font-family: Merriweather, Cardo, "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  }
  */

  /* Override styles in layout.css */
  body > header h2 {
    font-weight: bold;
  }
  body > nav h2 {
    font-size: 1.5em;
    margin-top   : calc(var(--line-height) / 1.5em);
    margin-bottom: calc(var(--line-height) / 1.5em / 2);
    font-weight: bold;
  }
  body > footer h2 {
    font-weight: bold;
    font-family: inherit;
  }

  /* Override styles in list.css */
  ul > li ul {
    font-style: inherit;
  }

  /* Override styles in type.css */
  body {
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: Merriweather, Cardo, "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  }

  .announcements > ul > li h3 {
    font-size: 1.5em;
    margin-top   : 0;
    margin-bottom: calc(var(--line-height) / 1.5em / 2);
  }

  .notice {
    background: rgb(255, 255, 102);
    padding: calc(var(--line-height) * 1);
    position: relative;
    z-index: 1;
    border-bottom: 2px solid white;
  }
  .notice h1 {
    margin: 0;
    line-height: inherit;
    font-size: inherit;
    color: inherit;
  }
  .notice p {
    margin: 0;
    max-width: none;
  }
  .notice .note {
    font-style: italic;
    font-size: 0.75em;
    line-height: 2;
  }
  .notice a {
    color: inherit;
  }
  @media (min-width: 60em) { /* --big-screen-width */
    .notice {
      padding: calc(var(--line-height) * 1) calc(var(--line-height) * 2);
    }
  }

  .intro-nav {
    font-weight: bold;
    font-family: Merriweather, Cardo, "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  }

  /*
  @media (min-width: 100em) {
    .summaries {
      display: flex;
    }
    .summaries > * {
      flex-basis: 50%;
    }
  }
  */

  body.has-image:not(.image-focus-bottom) > header > a {
    bottom: 2em;
  }

  .image > img[src*="14488205_724767584345061_195698733143293952_n"] {
    height: 70vh;
    min-height: 45vw;
  }

  .summaries div {
    background-color: transparent;
  }

  .announcements header,
  .announcements li:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .announcements > ul > li,
  .announcements > ul > li:first-child {
    border-top: 0;
  }
  .announcements {
    padding-top: 0;
  }
  .announcements header {
    padding-top: 3em;
  }

